* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost';
}

@font-face {
  font-family: 'butler';
  src: url(font/Butler-Font/Butler_Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

#header, #home {
  padding: 0 3.125rem;
}

/* HEADER */

#header {
  background-color: rgb(241, 237, 231);
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-hamburguer {
  display: none;
}

#logo-studio-av {
  width: 110px;
}

#container-header {
  display: flex;
  justify-content: space-between ;
  margin: 0 60px;
  align-items: center;
}

#ul-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 400px;
}
.nav {
  text-decoration: none;
  color: rgb(17, 36, 41);
  font-weight: 550;
}

/* HOME */

#home-content-left > img {
  max-width: 500px;
  max-height: 500px;
}

#home-content-left {
  position: relative;
  align-self: flex-start;
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#home-content-right {
  position: relative;
  margin-left: 3rem;
  flex: 1;
}

#text-home {
  visibility: hidden;
}

#home-image-right {
  height: 31.25rem;
  width: 100%;
  object-fit: cover;
}

#home {
  background-color: rgb(241, 237, 231);
}

#big-logo-home {
  width: 60%;
  min-width: 600px;
  transform: translate(-6.5vw, 50px);
}

#home-container {
  min-height: 88vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-circle {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px rgb(15, 36, 41); 
  position: absolute;
  right: -30px;
  bottom: -75px;
}

.go-to-gallery > p > a {
  text-decoration: none;
  font-weight: 550;
  color: rgb(15, 36, 41);
  position: absolute;
  right: 85px;
  top: 10px;
}

.go-to-gallery {
  position: relative;
}

.home-button-arrow {
  cursor: pointer;
  color: rgb(15, 36, 41);
  position: absolute;
  right: 11px;
  top: 15px;
}

.home-icons {
  position: absolute;
  top: 730px;
}

.home-icons > a > ion-icon {
  margin: 10px;
  font-size: 20px;
  color: rgb(15, 36, 41);
  transition: 0.4s;
}

/* PORTFOLIO */

main {
  /* background-color: rgb(4, 36, 41); */
  background-image: linear-gradient(180deg, rgb(4, 56, 65), rgba(4, 36, 41, 1));
  color: rgb(241, 237, 231);
  /* #1B3D42 */
}

#main-page-title > h2 {
  letter-spacing: 0.2rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 400;
  padding: 60px;
  margin-bottom: 2rem;
}

#portfolio-container {
  min-height: 250vh;
  display: flex;
  justify-content: space-between ;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
}

.square-images {
  width: 25rem;
  height: 25rem;
}

.square-images, 
.rectangular-images {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.square-images > img, 
.rectangular-images > img {
  width: 100%;
  cursor: pointer;
}

.rectangular-images { 
  width: 25rem;
  height: 31.25rem;
  margin-top: 12.5rem;
}

.rectangular-images > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#show-more-button-container {
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more-button {
  cursor: pointer;
  height: 3.438rem;
  width: 11.25rem;
  border: none;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  background-color: rgb(253, 254, 254); 
  color: rgb(4, 36, 41);
  font-weight: bold;
}

/* ABOUT */

#about {
  background-color: rgb(241, 237, 231);
  overflow: hidden;
}

#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0;
  min-height: 85vh;
}

#about-container-right {
  max-width: 700px;
  margin: 80px;
  color: rgb(4, 36, 41);
  font-family: 'Playfair Display', serif;
}

.about-container-left {
  width: 40rem;
}

.about-me-image {
  position: absolute;
  width: 31.25rem;
  bottom: -70px;
  right: -100px;
}

.about-me-image > img {
  object-fit: cover;
  width: 100%;
}

.about-me-square {
  position: relative;
  width: 38rem ;
  height: 42.5rem;
  background-color: rgb(209, 209, 209);
  top: -120px;
  left: -120px;
}

#about-me-title {
  /* text-align: center; */
  margin-bottom: 4rem;
  color: rgb(4, 36, 41);
  font-weight: 400;
  font-size: x-large;
  letter-spacing: 0.05rem;
}

/* CONTATO */
#contact {
background-color: rgb(4, 36, 41);
color: rgb(241, 237, 231);
padding: 0 9rem;
}

.container-contact-text{
  max-width: 40vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-content {
  margin: 1.5rem 0;
}

.contact-title {
  letter-spacing: 0.05rem;
}

.a {
  margin-right: 5px;
  font-size: 20px;
  
}

.contact-button {
  border: none;
  height: 3.5rem;
  width: 13.8rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: rgb(253, 254, 254); 
  color: rgb(4, 36, 41);
}

/* FOOTER */
.footer-container {
  background-color: rgb(241, 237, 231);
  min-height: 20vh;
  padding: 5rem 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-footer {
  width: 9rem;
  transform: translate(-0.5rem, 0);
}

.footer-content {
  color: rgb(4, 36, 41);
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.footer-icons > a > ion-icon {
  margin: 0.6rem;
  font-size: 1.3rem;
  color: rgb(15, 36, 41);
  transition: 0.4s;
}

.footer-icons ion-icon:hover,
.home-icons ion-icon:hover {
  transform: translateY(-8px);
  transition: 0.4s;
}


/* MODAL */
.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

.modal {
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-img {
  width: 100%;
}

.close-modal-button {
  color: rgb(253, 254, 254);
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 32px;
  cursor: pointer;
}

.show {
  display: block;
}

/* ZOOM + */
.images {
  overflow: hidden;
  transition: 1.5s ease-in-out;
}

.images img {
  /* display: block; */
  transition: 1.5s ease-in-out;
}

.images:hover img {
  transform: scale(1.2);
  /* transition: 2s ease-out;  */
  transition: transform 2s;
}

.images:hover {
  transform: scale(1.05);
  transition: transform 2s;
}

.subtitle-image {
  margin-top: 13px;
}

.subtitle-image > b {
  font-weight: 400;
  letter-spacing: 0.01rem;
  font-size: 1.2em;
}